<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069100061466-25tuv7njorni0lutirtaoqjkl922oe1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069100061466-25tuv7njorni0lutirtaoqjkl922oe1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAvdTcj30gBTDJRurNvkTnWQYlPV5FVIuY</string>
	<key>GCM_SENDER_ID</key>
	<string>1069100061466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demonfort.Demonfort</string>
	<key>PROJECT_ID</key>
	<string>demonfort-d4ef0</string>
	<key>STORAGE_BUCKET</key>
	<string>demonfort-d4ef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069100061466:ios:d94e248256cbf8871612a3</string>
	<key>DATABASE_URL</key>
	<string>https://demonfort-d4ef0.firebaseio.com</string>
</dict>
</plist>